body{

}



.header{
	border-bottom: 5px solid #444;
	margin-bottom: 20px;
}

section{
	margin-top:10px;
}


.center{
	text-align:center
}

ul.no-dot li{
	list-style-type: none;
	line-height: 1.1;
}

ul.no-dot li a{
	line-height: 1.1;
	text-decoration: none;
	color: black;
}

ul.no-dot li a:hover{
	line-height: 1.1;
	text-decoration: none;
	color: #153275;
}

div.callout{
	border: 1px solid orangered;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding: 2px 5px;
	margin-top: 10px;
	margin-bottom: 15px;
}

div.callout p{
	margin-bottom: 2px;
}