ul.no-dot li{
	list-style-type: none;
	/*line-height: 1.1;*/
}

div.callout{
	border: 2px solid orange;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding: 2px 5px;
	margin-top: 10px;
	margin-bottom: 15px;
}

div.callout p{
	margin-bottom: 2px;
}