---
layout: page
title: People
weight: 2
group: navigation
js: team.js
css: team.css
---

<h3>Project EPIC Current Members</h3>

<ul class="person-list">
{% assign this_person = 1 %}
{% for person in site.data.current %}
	<li class="person-list-item">
		<a rel="person-fancy-box-link" href="#person-current-{{this_person}}">
		<div class="person-box">
			{% if person.profile_pic %}
				<img src={{person.profile_pic}} />
			{% endif %}
			<h3>{{ person.name }}</h3>
		</div>
		</a>

		<!--This is the pop-up box-->
		<div id="person-current-{{this_person}}" class="person-info-expand">
			<div class="person-info">
				<div class="profile-image">
					<img src={{person.profile_pic}} />
				</div>
				<div class="person-name-box">
					<h3>{{person.name}}</h3>
					<p>{{person.affiliation}}</p>
					{% if person.interests %}
						<ul class="interests">
						<h5>Interests</h5>
						{% for interest in person.interests %}
							<li>{{interest}}.</li>
						{% endfor %}
						</ul>
					{% endif %}
				</div>
				{% if person.bio %}
					<div class="person-bio">
						<p>{{person.bio}}</p>
					</div>
				{% endif %}
				{% if person.url %}
					<center><a href="{{person.url}}">Personal Website</a></center>
				{% endif %}
			</div>
		</div>
	</li>
	{% assign this_person = this_person | plus: 1 %}
{% endfor %}
</ul>

<h3>Past  Members</h3>
<ul class="person-list">
{% assign this_person = 1 %}
{% for person in site.data.alumni %}
	<li class="person-list-item">
		<a rel="person-fancy-box-link" href="#person-alumni-{{this_person}}">
		<div class="person-box">
			{% if person.profile_pic %}
				<img src={{person.profile_pic}} />
			{% endif %}
			<h3>{{ person.name }}</h3>
		</div>
		</a>

		<!--This is the pop-up box-->
		<div id="person-alumni-{{this_person}}" class="person-info-expand">
			<div class="person-info">
				<div class="profile-image">
					<img src={{person.profile_pic}} />
				</div>
				<div class="person-name-box">
					<h3>{{person.name}}</h3>
					<p>{{person.affiliation}}</p>
					{% if person.interests %}
						<ul class="interests">
						<h5>Interests</h5>
						{% for interest in person.interests %}
							<li>{{interest}}.</li>
						{% endfor %}
						</ul>
					{% endif %}
				</div>
				{% if person.bio %}
					<div class="person-bio">
						<p>{{person.bio}}</p>
					</div>
				{% endif %}
				{% if person.url %}
					<center><a href="{{person.url}}">Personal Website</a></center>
				{% endif %}
			</div>
		</div>
	</li>
	{% assign this_person = this_person | plus: 1 %}
{% endfor %}
</ul>