<!-- 
	
	A sticky sub navigation for long pages based on the "scroller" attribute on a page.

 -->

<div id="scrolling-nav-div">
	<ul class="scrolling-nav-list">
	{% for item in page.scroller %}
		<li class="sub-nav-list-item"><a href="#{{item[1]}}">{{ item[0] }}</a></li>
	{% endfor %}
	</ul>
</div>

<script type="text/javascript">
$(document).ready(function(){
	//Hide the scrolling sub navigation
	$("#scrolling-nav-div").hide()

	//Assign a waypoint to the wrapper to show/hide the subnavigation
	$(".wrapper").waypoint(function() {
		$("#scrolling-nav-div").toggle(1000);
	}, { offset: 200});

	//Now add the logic to each element in the subnavigation list:
	$(".sub-nav-list-item").each(function( ) {
		
		var link = $('a',this).attr('href');
		var element = $(this)

		//Add a waypoint to the actual object
		$(link).waypoint(function(){
			console.log(link)
			$(".sub-nav-list-item").removeClass("active")
			element.toggleClass("active")
		},{offset: 50});

		element.click(function(){
			$('html,body').animate({scrollTop: $(link).offset().top-50 }, 'medium');
			$(".sub-nav-list-item").removeClass("active")
			element.addClass("active");
		})			
	});
});
</script>