---
layout: page
title: Publications
parent: [Our Work, Publications]
js: publications.js
css: publications.css
scroller:
  Perspectives and Vision 					   : perspectives_and_vision
  Computational Linguistics 				   : computational_linguistics
  Data Collection and Analytics Infrastructure : data_collection_and_analytics
  Sociobehavioral Research 					   : sociobehavioral_research
---

{% include navigation/ourwork_nav.html %}

<!-- Add sticky subnavigation for the different tags -->
{% include navigation/sticky_sub_nav.html %}

<!--Add the Year / Category Chooser -->
{% include navigation/publications_chooser.html %}

{% for category in page.scroller %}
<h3 id="{{ category[1] }}" class="pub_section">{{category[0]}}</h3>
<ul class="papers-in category {{category[0]}}">
	{% for pub in site.data.publications %}
		{% if pub.category contains category[0] %}
			<li class="publication-item" id="{{pub.name}}">
				<h5 class="author">{{ pub.authors }}</h5>
				<h5 class="title">{{ pub.title }} </h5>
				<h5 class="year">{{pub.year}}</h5>
				<h5 class="etc">{{pub.etc}}</h5>
			</li>
			<div class="publication-expand">
				<h3 class="title">{{pub.title}}</h4>
				<h4 class="authors">{{pub.authors}}</h3>
					{% if pub.abstract %}
						<h6>Abstract</h6>
						<p class="abstract">{{pub.abstract}}</p>
					{% endif %}
						<h6>Category:</h6><p>{{pub.category}}</p>
					{% if pub.download_link %}
						<a class="download" href="{{pub.download_link}}" target="_blank">Download Full PDF</a>
					{% endif %}
			</div>
		{% endif %}
	{% endfor %}
</ul>
{% endfor %}