---
layout: page
title: Publications
group: our_work
weight: 2
parent: Our Work
js: publications.js
css: publications.css
---
{% include navigation/ourwork_nav.html %}

{% include custom/publications_chooser.html %}

{% assign this_year = site.data.publications.first.year %}
<h3 class="pub_category {{this_year}}">{{this_year}}</h3>
<ul class="papers-in year {{this_year}}">
{% for pub in site.data.publications %}
	{% if pub.year == this_year %}
		<li class="publication-item">
			<a id={{pub.name}}></a>
			<h5 class="author">{{ pub.authors }}</h5>
			<h5 class="title">{{ pub.title }} </h5>
			<h5 class="year">{{pub.year}}</h5>
			<h5 class="etc">{{pub.etc}}</h5>
		</li>
		<div class="publication-expand">
		<h3 class="title">{{pub.title}}</h4>
		<h4 class="authors">{{pub.authors}}</h3>
			{% if pub.abstract %}
				<h6 class=>Abstract</h6>
			<p class="abstract">{{pub.abstract}}</p>
			{% endif %}
		</div>
		
	{% else %}
		{% assign this_year = pub.year %}
		</ul><h3 class="pub_section {{this_year}}">{{this_year}}</h3>
		<ul class="papers-in year {{this_year}}">
	{% endif %}
{% endfor %}