---
layout: page
title: Publications
group: our_work
weight: 2
parent: Our Work
js: publications.js
css: publications.css
scroller:
  '2014' : '2014'
  '2013' : '2013'
  '2012' : '2012'
  '2011' : '2011'
  '2010' : '2010'
  '2009' : '2009'
  '2008' : '2008'
  '2007' : '2007'
---
{% include navigation/ourwork_nav.html %}

<!-- Add sticky subnavigation for the different years -->
{% include navigation/sticky_sub_nav.html %}

{% include navigation/publications_chooser.html %}

{% for year in page.scroller %}
	<h3 id="{{ year[1] }}" class="pub_category">{{year[0]}}</h3>
	<ul class="papers-in year {{this_year}}">
	{% for pub in site.data.publications %}
		{% if pub.year == year[0] %}
			<li class="publication-item">
				<a id={{pub.name}}></a>
				<h5 class="author">{{ pub.authors }}</h5>
				<h5 class="title">{{ pub.title }} </h5>
				<h5 class="year">{{pub.year}}</h5>
				<h5 class="etc">{{pub.etc}}</h5>
			</li>
			<div class="publication-expand">
				<h3 class="title">{{pub.title}}</h4>
				<h4 class="authors">{{pub.authors}}</h3>
					{% if pub.abstract %}
						<h6>Abstract</h6>
						<p class="abstract">{{pub.abstract}}</p>
					{% endif %}
						<h6>Category:</h6><p>{{pub.category}}</p>
					{% if pub.download_link %}
						<a class="download" href="{{pub.download_link}}" target="_blank">Download Full PDF</a>
					{% endif %}
			</div>
		{% endif %}
	{% endfor %}
</ul>
{% endfor %}
