
#timeline {
  background: white;
  width:100%;
  height:200px;
  border: 1pt solid black;
}

#work_sections {
  list-style-type: none;
  margin:10px auto 10px auto;
  width:100%;
}

#work_sections section {
  margin:0 auto;
  position:relative;
  width:100%;
  height:inherit;
}

#work_sections li {
  height:300px;
}

#work_sections li:nth-child(2n){
  height: 500px;
}

#work_sections li:nth-child(2n-1){
  height: 400px;
}

#work_sections li:nth-child(2n-2){
  height: 300px;
}

.parallax1-color {
  background: #CC3300 fixed; /* green */
}

.parallax2-color {
  background: #0066CC fixed; /* blue */
}

.parallax3-color {
  background: #00CC33 fixed; /* orange */
}

.parallax1-sample { background: url("/assets/images/parallax-sections/coflood-green.jpg") fixed;}
.parallax2-sample { background: url("/assets/images/parallax-sections/hurricane-blue.jpg") fixed;}
.parallax3-sample { background: url("/assets/images/parallax-sections/disaster-orange.jpg") fixed;}
.parallax4-sample { background: url("/assets/images/parallax-sections/pet-rescue-green.jpg") fixed;}
.parallax5-sample { background: url("/assets/images/parallax-sections/hurricane-sandy-blue.jpg") fixed;}
.parallax6-sample { background: url("/assets/images/parallax-sections/students-orange.jpg") fixed;}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  width:83.3%;
  max-width: 960px; 
}

.container-narrow > hr {
  margin: 30px 0; 
}

.navbar .nav {
  float: right; 
}

.page-header {
	margin:0px;
	display:block;
 	background: url("/assets/images/flatirons-smaller.jpg") no-repeat;
  height:250px;
	width:100%; }
	
.page-header h1 {
	padding:15px;
	}

.navbar {
	margin:0px; }

.navbar-inner {
	box-shadow: none;
	border:none;
	background:none;
}

ul.nav-list {
	margin:0px;
	padding:0px;
}

ul.nav-list li a {
  float:left;
  margin:0px 20px 0px 0px;
  padding:5px 0px;
}

h3 {
	font-weight:normal;
}