

#work_sections {
  margin:10px auto 10px auto;
  width:100%;
}

#work_sections article {
  display:block;
  margin:5px 10px 5px 10px;
}

/*** Work Sections **/

.sections { padding-top: 10px;}
.section_titles { text-align:center; margin-bottom:50px;}
.section_images { margin: 0 auto; text-align: center;}
.section_image { width: 500px; padding:10px; vertical-align: top;}
.section_content{ padding:15px; font-size:16pt;}
.section_footer { float:right; font-style:italic; font-size:10pt;}

#parallax_1 { height:800px; background: url("/assets/images/section-parallax/sandy.jpg") 100% 100%;}
#parallax_2 { height:1600px; background: url("/assets/images/section-parallax/oklahoma.jpg") 100% 100%;}
#parallax_3 { height:800px; background: url("/assets/images/section-parallax/haiti_earthquake_usgs.jpg") 100% 100%;}

/* Custom container */
.container-narrow {
  margin: 0 auto;
}

.container-narrow > hr {
  margin: 30px 0;
}

.navbar .nav {
  float: right;
}

.page-header {
	margin:0px;
	display:block;
  background: url("/assets/images/flatirons_second.png");
  height:200px;
	width:100%; }

.page-header h1 { padding:15px;}

.navbar { margin:0px; }

.navbar-inner {
  padding:0px 300px 0px 300px;
	box-shadow: none;
	border:none;
	background:none;
}

ul.nav-list {
	margin:0 auto;
  height:30px;
  width:540px;
	padding:0px;
  font-size:16pt;
}

ul.nav-list li a {
  float:left;
  margin:0px 20px 0px 0px;
  padding:5px 0px;
}

h3 {
	font-weight:normal;
}

/*Fancy Box Over-rides */
.fancybox-nav {
  width: 20%;
}
