/* Header */
.page-header {
	margin:0px;
	display:block;
    height:260px;
	width:100%; 
	background: url("/assets/images/cubanner.jpg") no-repeat; 
	border:0px none;
	}
	.page-header-ourwork, .page-group-ourwork, .page-header-publications { background: url("/assets/images/flatirons_sm.png") no-repeat; }
	.page-header-people { background: url("/assets/images/people_sm.jpg") no-repeat; }
	.page-header-partnership { background: url("/assets/images/collaboration_sm.jpg") no-repeat; }
	.page-header-news { background: url("/assets/images/news.png") no-repeat; }
	
.page-header h1 { 
	padding:15px 15px 15px 25px;
	color:#fff;
	}
.navbar { 
	margin:0px; 
	}
.navbar-inner {
  padding:0px 30px 0px 30px;
	box-shadow: none;
	border:none;
	background:none;
}
.navbar .nav {
  float: right;
}
.navbar .brand {
	font-size:18px;
}

/* Page Setup */
.container-narrow {
  margin: 0 auto;
}
.container-narrow > hr {
  margin: 30px 0;
}
.wrapper {
	margin:0px 20px;
}

.fullscreen {
	margin:0px;
	padding:0px 20px;
}

/* Lists */
ul.nav-list {
	margin:0 auto;
	width:950px;
	padding:0px 0px 30px 0px;
}

ul.nav-list li {
  float:left;
  margin:0px 80px;
  padding:5px 0px;
}

ul.nav-list > .active > a,
ul.nav-list > .active > a:hover {
	color:#000;
	background:none;
}

/* Headers */
h3 {
	font-weight:normal;
}
h3.section-head{
	border-bottom: 1px solid #333;
}

/* Footer */
.footer {
	clear:both;
	padding:30px;
}

.footer p {
	text-align:center;
}

/*Fancy Box Over-rides */
.fancybox-nav {
  width: 20%;
}

/*  Sticky Scrolling Nav List */
#scrolling-nav-div{
	background-color: #FFF;
	opacity: .9;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 99;
	border-bottom: 1px solid #999;
}

.scrolling-nav-list{list-style-type: none; padding: 0; margin: 0; text-align: center;} .scrolling-nav-list li{ display: inline-block;
	padding: 5px 10px 5px 10px;}

.scrolling-nav-list li.active {
	background-color: #0088cc;
	color: #FFF;
	margin: 0;
}
.scrolling-nav-list li.active a{
	color: #FFF;;
}

.scrolling-nav-list li a{
	font-size: 1em;
	margin: 0;
}

.scrolling-nav-list a:hover{
	text-decoration: none;
}


/* Our Work & Partners */

.sections {
  margin:10px auto 10px auto;
  padding-right: 120px;
  padding-left: 120px;
  text-align: justify;
  line-height: 24px;
  font-size:18px;
  color:#000;
}

.section {
	margin:35px 0px;
	clear:both;
	display:inline-block;
}

.sections h2 {
	text-align:center;
}

.sections img{
  display:inline-block;
  vertical-align: top;
}

/* Individual Image Styling */

img#perspectives {
	float:right;
	padding:0px 0px 10px 20px;
}

img#socio-1 {
	width:550px;
	float:right;
}

img#linguistics {
	float:left;
	width:400px;
}

img#infrastructure-1,
img#infrastructure-2 {
	float:left;
	width:500px;
}

img#infrastructure-2 {
	padding:0px 0px 50px;
}

