.bx-wrapper .bx-viewport {
	border:none;
	box-shadow:none;
	-webkit-box-shadow:none;
}

.bx-wrapper {
	margin:0px auto 20px;
}

#front_slider {
	margin:0px 0px 10px 0px;
}

#front_slider li {
  	height:450px;
  	width:100%;
	margin:0px;
}

#front_slider li#our_work {
	/* Source: http://ireneimmink.com/2012/05/24/why-we-design-natural-disasters-instead-of-sustainable-solutions/ */
	background: url("/assets/images/work.jpg") no-repeat;
}

#front_slider li#people {
	background: url("/assets/images/people.jpg") no-repeat;
}
#front_slider li#partnership {
	background: url("/assets/images/crowd.jpg") no-repeat;
}
#front_slider li#news {
	background: url("/assets/images/news.png") no-repeat;
}

#front_slider li a {
	display:block;
	width:960px;
	height:45px;
	position:absolute;
	bottom:0px; left:10px;
	padding:30px 40px;
	color:#fff;
}

#front_slider li a:hover {
	text-decoration:none;
	color:#fff;
}

#front_slider li .title {
	font-weight:bold;
	font-size:36px;
}
#front_slider li .subtext {
	font-size:20px;
}

#front_left {
	padding:10px 10px 10px 50px;
	width:50%;
	margin: 0 auto;
	vertical-align: top;
	display:inline-block;
	overflow:hidden;
}

#front_right {
	padding:10px 50px 10px 10px;
	width:35%;
	float:right;
	margin:0 auto;
	text-align: center;
	vertical-align: top;
	display:inline-block;
	overflow:hidden;
}

