.bx-wrapper .bx-viewport {
	border:none;
	box-shadow:none;
	-webkit-box-shadow:none;
}

.bx-wrapper {
	margin:0px auto 20px;
}

#front_slider {
	margin:0px 0px 10px 0px
}

#front_slider li {
  height:450px;
	width:100%;
	margin:0px;
}

#front_slider li#our_work {
	background: url("/assets/images/flatirons.jpg") no-repeat;
}
#front_slider li#people {
	background: url("/assets/images/crowd.jpg") no-repeat;
}
#front_slider li#partnership {
	background: url("/assets/images/partners.png") no-repeat;
}
#front_slider li#news {
	background: url("/assets/images/news.png") no-repeat;
}

#front_slider li a {
	display:block;
	width:960px;
	height:45px;
	position:absolute;
	bottom:0px; left:0px;
	padding:30px;
	color:#fff;
}
#front_slider li a:hover {
	text-decoration:none;
	color:#fff;
}

#front_slider li .title {
	font-weight:bold;
	font-size:36px;
}
#front_slider li .subtext {
	font-size:20px;
}

#front_left {
	width:48%;
	float:left;
	overflow:hidden;
	margin:0px 20px 0px 0px
}

#front_right {
	width:48%;
	float:right;
	overflow:hidden;
	margin:0px 0px 20px 0px
}

