#publications_chooser{text-align: center;}
#publications_chooser ul{list-style-type: none; margin: 0, auto;}
#publications_chooser li{
	display: inline-block;
	padding: 5px;
}
#publications_chooser a{
	font-size: 1.5em;

}

#publications_chooser li.active{
	background-color: #BBB;
	color: white;
}

.active-publication{
	background-color: #DDD;
	color: #00C;
}


.publication-item{
	cursor: pointer;
	margin: 10px;
}

.publication-item:hover{
	color: #00C;
}

.publication-expand{
	padding: 20px 20px 100px 10px;
	border-bottom: 2px groove #999;
	border-top: 2px groove #999;
}

.pub_section{
	border-bottom: 1px solid #333;
}

.papers-in{
	list-style-type: none;
	margin-left: 15px;
}


.year{
	
}

.category{
}

/* Paper title */
h5{
	display: inline;
}

h5.author{
	font-weight: 300;
}

h5.title{
	font-weight: 500;
}

h5.year{
	font-weight: 300;
}

h5.etc{
	font-weight: 200;
}

/*Paper expand */
p.abstract{
	border: 1px solid #EEE;
	padding: 10px;
}

/*  Scrolling Nav List */
#scrolling-nav-div{
	background-color: #FFF;
	opacity: .8;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 99;
}

.scrolling-nav-list{list-style-type: none} .scrolling-nav-list li{ display: inline-block;} 
}

.scrolling-nav-list li a{
	padding: 2px 5px 2px 5px;
}

.scrolling-nav-list li.active a{
	background-color: #555;
	color: #FFF;
}



