#publications_chooser {
	text-align: center;
	font-size: 1.1em;
	margin:0px 0px -30px 0px;
	}
	
#publications_chooser a.active {
	color: #000;
	font-size: 1.2em;
}

.active-publication {
	color: #000;
	background-color: #DDD;
	padding: 10px 2px;
}

.publication-item{
	cursor: pointer;
	margin: 10px;
	margin-right: 150px;
	margin-left: 25px;
}

.publication-item:hover{
	color: #00C;
}

.publication-expand{
	padding: 20px 20px 100px 10px;
	border-bottom: 2px groove #999;
	border-top: 2px groove #999;
	margin-bottom: 50px;
}

.pub_section{
	border-bottom: 1px solid #333;
}

.papers-in{
	list-style-type: none;
	margin-left: 15px;
}

.year{

}

.category{
}

h3.pub_category{
	border-bottom: 1px solid #333;
}

a.download{
}

/* Paper title */
h5{
	display: inline;
}

h5.author{
	font-weight: 300;
}

h5.title{
	font-weight: 500;
}

h5.year{
	font-weight: 300;
}

h5.etc{
	font-weight: 200;
}

/*Paper expand */
p.abstract{
	border: 1px solid #EEE;
	padding: 10px;
}

/*  Scrolling Nav List */
#scrolling-nav-div{
	background-color: #FFF;
	opacity: .9;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 99;
	border-bottom: 1px solid #999;
}

.scrolling-nav-list{list-style-type: none; padding: 0; margin: 0; text-align: center;} .scrolling-nav-list li{ display: inline-block;
	padding: 5px 10px 5px 10px;}

.scrolling-nav-list li.active {
	background-color: #0088cc;
	color: #FFF;
	margin: 0;
}
.scrolling-nav-list li.active a{
	color: #FFF;;
}

.scrolling-nav-list li a{
	font-size: 1em;
	margin: 0;
}

.scrolling-nav-list a:hover{
	text-decoration: none;
}
