.publication-item{
	cursor: pointer;
	margin: 10px;
}

.publication-item:hover{
	color: #00C;
}

.publication-expand{
	padding: 20px 20px 100px 10px;
	border: 2px solid #999;
}

.pub_section{
	border-bottom: 1px solid #333;
}

.papers-in{
	list-style-type: none;
	margin-left: 15px;
}


.year{
	
}

.category{
}

/* Paper title */
h5{
	display: inline;
}

h5.author{
	font-weight: 300;
}

h5.title{
	font-weight: 500;
}

h5.year{
	font-weight: 300;
}

h5.etc{
	font-weight: 200;
}

/*Paper expand */
p.abstract{
	border: 1px solid #EEE;
	padding: 10px;
}