.person-list{
	list-display-type: none;
}

.person-list-item{
	display: inline-block;
	width: 300px;
	height: 200px;
}

.person-info-expand{
	display: none;
	padding: 20px 30px 20px 30px;
	text-align: center;
}

.person-info{
	text-align: left;
}

.profile-image{
	float: right;
	margin: 10px;
}

.person-name-box{
	width: 300px
	float: left;
}

.person-bio{
	clear: both;
	margin-top: 15px;
	padding: 5px;
}

.person-info-expand ul.interests{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.person-info-expand ul.interests h5{
	margin: 0px;
	padding: 0px;
}

.person-info-expand ul.interests li{
	margin: 0px;
	padding: 0px 0px 0px 0px;
	display: inline-block;
}